h1 {
       font-size: 50px; 
       font-family: Verdana, Arial, Helvetica, sans-serif; 
       color: #333366;
       text-align: center;
       backdrop-color: whitesmoke;
     }
.Name 
        {
            height: 70px;
        }
.bad-script-regular {
    font-family: "Bad Script", cursive;
    font-weight: 100%;
    font-style: normal;
    height: 100%;
}
.posl
        {
            height: 40px;
            font-size: 40px;
        }
.text1 {
    font-family: Comic Sans MS;
    font-size: 20px;  
    color: #191970;
    backdrop-color: whitesmoke;
}
.text2 {
    font-family: Time New Roman;
    font-size: 20px;
    color: #A9A9A9
}
